SAUCE_BASE_URL=https://www.saucedemo.com
SAUCE_USERNAME=standard_user
SAUCE_PASSWORD=secret_sauce

# Part 14: public demo API used by APIRequestContext examples
API_BASE_URL=https://jsonplaceholder.typicode.com

# Part 10: set to 1/true/yes to record Playwright videos
PW_VIDEO=0
